# Turn exportable Bixi data (pdf) into usable csv format

In [1]:
# import dependencies
import pandas as pd
import numpy as np
import csv
import tabula
import editdistance

In [2]:
# Create dictionary for station names to station codes
with open('../data/bixi/BixiMontrealRentals2018/Stations_2018.csv', mode='r') as f_in:
    reader = csv.reader(f_in)
    station_dict = {rows[1]:rows[0] for rows in reader}

In [3]:
# Set username and import data file (csv). Use https://www.zamzar.com/convert/pdf-to-csv/ to create csv files
username = 'lisa'
df_master = pd.read_csv('../data/bixi/%s.csv'%username,names = ["timestamp",'location','duration'],skiprows=7)

In [4]:
# Keep all station_points
df = df_master.drop(df_master[~(df_master['timestamp'].str.startswith('Start') | df_master['timestamp'].str.startswith('End'))].index)
df.reset_index(drop = True, inplace = True)
df.rename(columns = {'timestamp':'date'}, inplace = True)
df.head()

                date                                 location     duration
0  Start: 11/05/2018               University / Prince-Arthur  14 min 31 s
1    End: 11/05/2018                         Tupper / du Fort          NaN
2  Start: 11/01/2018  Métro Atwater (Atwater / Ste-Catherine)  16 min 51 s
3    End: 11/01/2018               University / Prince-Arthur          NaN
4  Start: 10/31/2018               University / Prince-Arthur  10 min 12 s

In [5]:
# Remove all NaNs from the start/end stations and including its trip-partner (end/start)
invalid_index = df['location'].isna()
for index, row in invalid_index.iteritems():
    if row:
        if np.mod(index,2) == 1:
            invalid_index.loc[index-1] = True
        elif np.mod(index,2) == 0:
            invalid_index.loc[index+1] = True
            
df.drop(df[invalid_index].index,inplace=True)

In [6]:
# For those entries that do not match any key in the dictionary, compute Levenshtein distance for all keys. Pick the smallest
for index, item in df['location'].iteritems():
    if item in station_dict.keys():
        continue
    else:
        min_dist = 100
        for station_name in station_dict.keys():
            dist = editdistance.eval(item, station_name)
            if dist < min_dist:
                min_dist = dist
                min_station = station_name
        df.loc[index,'location'] = min_station

In [7]:
# Create empty dataframe with headers corresponding to known format
with open('../data/bixi/BixiMontrealRentals2018/OD_2018-04.csv', 'r') as f:
    reader = csv.reader(f)
    header = next(reader)

df_full = pd.DataFrame(columns = header)

In [8]:
# Place the start/end stations and duration in df_full
for index, row in df.iterrows():
    if np.mod(index,2) == 0:
        df_full.loc[int(index/2),'start_station_code'] = station_dict[row[1]]
        df_full.loc[int(index/2),'duration_sec'] = 60*int(row[2].split()[0])+int(row[2].split()[2])
    elif np.mod(index,2) == 1:
        df_full.loc[int(index/2),'end_station_code'] = station_dict[row[1]]

In [9]:
print(df_full)

    start_date start_station_code end_date end_station_code duration_sec  \
0          NaN               6047      NaN             7076          871
1          NaN               6194      NaN             6047         1011
2          NaN               6047      NaN             6013          612
3          NaN               6047      NaN             6100          651
4          NaN               6095      NaN             6047         1288
5          NaN               6194      NaN             7034          466
6          NaN               6204      NaN             6020          901
7          NaN               6107      NaN             7080          553
8          NaN               6047      NaN             7076          831
9          NaN               6047      NaN             6095          839
10         NaN               6099      NaN             6070          410
11         NaN               6097      NaN             6099          323
12         NaN               6097      NaN             6097           24
13         NaN               7076      NaN             6097          124
14         NaN               7076      NaN             6062          363
15         NaN               6047      NaN             7076          876
16         NaN               7076      NaN             6067          601
17         NaN               6050      NaN             6406         1153
18         NaN               7034      NaN             6050         1416
19         NaN               6194      NaN             7034          385
20         NaN               6100      NaN             6070          487
21         NaN               6194      NaN             6100          436
22         NaN               6194      NaN             6194           16
23         NaN               6047      NaN             7080          165
24         NaN               6100      NaN             7080          361
25         NaN               6194      NaN             6100          485
26         NaN               6194      NaN             6047          822
27         NaN               6194      NaN             7080          757
28         NaN               6070      NaN             7076          920
29         NaN               7014      NaN             6047         1215
..         ...                ...      ...              ...          ...
148        NaN               6047      NaN             6733          348
149        NaN               7076      NaN             6070          823
150        NaN               6047      NaN             6248          852
151        NaN               6194      NaN             7080          829
152        NaN               6134      NaN             6381          285
153        NaN               6047      NaN             6194         1018
154        NaN               6047      NaN             7076          960
155        NaN               6070      NaN             7076          759
156        NaN               6047      NaN             6194          819
157        NaN               6047      NaN             7076          823
158        NaN               6047      NaN             6194          927
159        NaN               6047      NaN             6097          893
160        NaN               6047      NaN             7069          211
161        NaN               6072      NaN             7076          624
162        NaN               6194      NaN             6036         2716
163        NaN               6047      NaN             6067          314
164        NaN               6203      NaN             7076          821
165        NaN               6047      NaN             6067          275
166        NaN               6047      NaN             6413          298
167        NaN               6070      NaN             6097         1069
168        NaN               6097      NaN             6047          880
169        NaN               6097      NaN             7080          657
170        NaN               6047      NaN             7076          819
171        NaN               7076      NaN             7069          728
172        NaN               7076      NaN             7080          873
173        NaN               6047      NaN             7076          958
174        NaN               7076      NaN             6073          732
175        NaN               6047      NaN             7076          948
176        NaN               6047      NaN             6064          405
177        NaN               6070      NaN             6209          656

    is_member
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
8         NaN
9         NaN
10        NaN
11        NaN
12        NaN
13        NaN
14        NaN
15        NaN
16        NaN
17        NaN
18        NaN
19        NaN
20        NaN
21        NaN
22        NaN
23        NaN
24        NaN
25        NaN
26        NaN
27        NaN
28        NaN
29        NaN
..        ...
148       NaN
149       NaN
150       NaN
151       NaN
152       NaN
153       NaN
154       NaN
155       NaN
156       NaN
157       NaN
158       NaN
159       NaN
160       NaN
161       NaN
162       NaN
163       NaN
164       NaN
165       NaN
166       NaN
167       NaN
168       NaN
169       NaN
170       NaN
171       NaN
172       NaN
173       NaN
174       NaN
175       NaN
176       NaN
177       NaN

[178 rows x 6 columns]

In [10]:
# and save the file
df_full.to_csv('../data/bixi/%s-complete.csv'%username,index=False)

In [11]:
'''
Adding the time is too time-consuming (get it?). There are more important jobs to do. Surely one can find to robustly add the time to the userprofile

df_time = df_master.drop(df_master[~(df_master['timestamp'].str.contains('AM') | df_master['timestamp'].str.contains('PM'))].index)
df_time.reset_index(drop = True, inplace = True)
df_time.rename(columns = {'timestamp':'time'}, inplace = True)

''';

In [12]:
df_time[~df_time['location'].isna()];

NameError: name 'df_time' is not defined

In [ ]:
'''Full empty dataframe with 
1. start_date & end_date (date + time)
2. start_station_code & end_station_code
3. duration-sec