# Turn exportable Bixi data (pdf) into usable csv format

In [24]:
# import dependencies
import pandas as pd
import numpy as np
import csv
import tabula
import editdistance

In [25]:
# Create dictionary for station names to station codes
with open('../data/bixi/BixiMontrealRentals2018/Stations_2018.csv', mode='r') as f_in:
    reader = csv.reader(f_in)
    station_dict = {rows[1]:rows[0] for rows in reader}

In [26]:
# Set username and import data file (csv). Use https://www.zamzar.com/convert/pdf-to-csv/ to create csv files
username = 'saad'
df_master = pd.read_csv('../data/bixi/%s.csv'%username,names = ["timestamp",'location','duration'],skiprows=7)

In [27]:
# Keep all station_points
df = df_master.drop(df_master[~(df_master['timestamp'].str.startswith('Start') | df_master['timestamp'].str.startswith('End'))].index)
df.reset_index(drop = True, inplace = True)
df.rename(columns = {'timestamp':'date'}, inplace = True)
df.head()

                date                     location     duration
0  Start: 11/15/2018          Duluth / St-Laurent  11 min 10 s
1    End: 11/15/2018  de la Montagne / Sherbrooke          NaN
2  Start: 11/15/2018          Milton / University   8 min 23 s
3    End: 11/15/2018          Duluth / St-Laurent          NaN
4  Start: 11/15/2018      Mackay / de Maisonneuve   5 min 51 s

In [28]:
# Remove all NaNs from the start/end stations and including its trip-partner (end/start)
invalid_index = df['location'].isna()
for index, row in invalid_index.iteritems():
    if row:
        if np.mod(index,2) == 1:
            invalid_index.loc[index-1] = True
        elif np.mod(index,2) == 0:
            invalid_index.loc[index+1] = True
            
df.drop(df[invalid_index].index,inplace=True)

In [29]:
# For those entries that do not match any key in the dictionary, compute Levenshtein distance for all keys. Pick the smallest
for index, item in df['location'].iteritems():
    if item in station_dict.keys():
        continue
    else:
        min_dist = 100
        for station_name in station_dict.keys():
            dist = editdistance.eval(item, station_name)
            if dist < min_dist:
                min_dist = dist
                min_station = station_name
        df.loc[index,'location'] = min_station

In [30]:
# Create empty dataframe with headers corresponding to known format
with open('../data/bixi/BixiMontrealRentals2018/OD_2018-04.csv', 'r') as f:
    reader = csv.reader(f)
    header = next(reader)

df_full = pd.DataFrame(columns = header)

In [31]:
# Place the start/end stations and duration in df_full
for index, row in df.iterrows():
    if np.mod(index,2) == 0:
        df_full.loc[int(index/2),'start_station_code'] = station_dict[row[1]]
        df_full.loc[int(index/2),'duration_sec'] = 60*int(row[2].split()[0])+int(row[2].split()[2])
    elif np.mod(index,2) == 1:
        df_full.loc[int(index/2),'end_station_code'] = station_dict[row[1]]

In [32]:
print(df_full)

    start_date start_station_code end_date end_station_code duration_sec  \
0          NaN               6213      NaN             6065          670
1          NaN               6070      NaN             6213          503
2          NaN               6100      NaN             7080          351
3          NaN               6432      NaN             6100          527
4          NaN               6065      NaN             6432          545
5          NaN               6344      NaN             6065         1628
6          NaN               6344      NaN             6344          399
7          NaN               6205      NaN             6065          627
8          NaN               6070      NaN             6213          473
9          NaN               6205      NaN             6065          445
10         NaN               6070      NaN             6205          147
11         NaN               6070      NaN             6081          362
12         NaN               6068      NaN             6100          259
13         NaN               6070      NaN             6213          449
14         NaN               6214      NaN             6183          549
15         NaN               6065      NaN             6214         1055
16         NaN               7084      NaN             6436          952
17         NaN               6065      NaN             7084          188
18         NaN               6065      NaN             6065           26
19         NaN               6099      NaN             6072          139
20         NaN               6064      NaN             6100          148
21         NaN               6170      NaN             6065         1341
22         NaN               6065      NaN             6186         1194
23         NaN               6027      NaN             6100          177
24         NaN               6068      NaN             6068           18
25         NaN               7084      NaN             6065          218
26         NaN               6070      NaN             6100          468
27         NaN               6186      NaN             6214          665
28         NaN               6178      NaN             6186          399
29         NaN               6170      NaN             6178          339
..         ...                ...      ...              ...          ...
277        NaN               6307      NaN             6065         1108
278        NaN               6221      NaN             6307          464
279        NaN               6065      NaN             6221         1297
280        NaN               7033      NaN             7084          228
281        NaN               6058      NaN             6070          397
282        NaN               6903      NaN             6065         1253
283        NaN               6065      NaN             6067          269
284        NaN               6065      NaN             7080          217
285        NaN               6026      NaN             6065         1036
286        NaN               7084      NaN             6026          828
287        NaN               6065      NaN             6070          242
288        NaN               6205      NaN             6065          365
289        NaN               6205      NaN             6205          601
290        NaN               6021      NaN             6205          256
291        NaN               6205      NaN             6021          558
292        NaN               6065      NaN             6205          351
293        NaN               7033      NaN             6065          274
294        NaN               6203      NaN             6065          238
295        NaN               6065      NaN             6039          654
296        NaN               7084      NaN             6065          102
297        NaN               6070      NaN             6085          498
298        NaN               6065      NaN             6068          235
299        NaN               6727      NaN             7033         1205
300        NaN               6068      NaN             6065          164
301        NaN               6068      NaN             7080           70
302        NaN               6065      NaN             7084          105
303        NaN               6070      NaN             6205           94
304        NaN               6065      NaN             7084          120
305        NaN               6070      NaN             6065          337
306        NaN               6070      NaN             6205          148

    is_member
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
8         NaN
9         NaN
10        NaN
11        NaN
12        NaN
13        NaN
14        NaN
15        NaN
16        NaN
17        NaN
18        NaN
19        NaN
20        NaN
21        NaN
22        NaN
23        NaN
24        NaN
25        NaN
26        NaN
27        NaN
28        NaN
29        NaN
..        ...
277       NaN
278       NaN
279       NaN
280       NaN
281       NaN
282       NaN
283       NaN
284       NaN
285       NaN
286       NaN
287       NaN
288       NaN
289       NaN
290       NaN
291       NaN
292       NaN
293       NaN
294       NaN
295       NaN
296       NaN
297       NaN
298       NaN
299       NaN
300       NaN
301       NaN
302       NaN
303       NaN
304       NaN
305       NaN
306       NaN

[303 rows x 6 columns]

In [76]:
# and save the file
df_full.to_csv('../data/bixi/%s-complete.csv'%username,index=False)

In [31]:
'''
Adding the time is too time-consuming (get it?). There are more important jobs to do. Surely one can find to robustly add the time to the userprofile

df_time = df_master.drop(df_master[~(df_master['timestamp'].str.contains('AM') | df_master['timestamp'].str.contains('PM'))].index)
df_time.reset_index(drop = True, inplace = True)
df_time.rename(columns = {'timestamp':'time'}, inplace = True)

''';

In [32]:
df_time[~df_time['location'].isna()];

In [ ]:
'''Full empty dataframe with 
1. start_date & end_date (date + time)
2. start_station_code & end_station_code
3. duration-sec